.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.skill-text i {
  color: #000;
  background-color: #88b535;
  font-size: 14px;
  border-radius: 40px;
  padding: 3px;
  margin-right: 7px;
}

.btn-remove-style {
  background-color: #1f3643;
  padding: 4px 7px;
  color: #fff;
  font-size: 12px;
}

.btn-remove-style:hover {
  color: #fff;
}

.popular-skill-title {
  display: flex;
}

.popular-icon-up{
  transform: rotate(180deg);
  transition: .3s;
} 
.popular-icon-down{
  transform: rotate(0deg);
  transition: .3s;
} 

/* 
select {
  background-color: white;
  border: thin solid grey;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
} */
/* select{
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1em;
} */

/* select.arrows:focus {
  border-color: blue;
  outline: 0;
} */

.btn-add {
  background-color: #242426;
  color: white;
  padding: 4px 7px;
  font-size: 12px;
}

.btn-add:hover {
  background-color: #28282c;
  color: #fff;
  padding: 4px 7px;
  font-size: 12px;
}

.btn-add i {
  color: antiquewhite;
  font-size: 13px;
}

.btn-text:hover {
  color: #88b535;
}
