.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.skill-text i {
  color: #000;
  background-color: #88b535;
  font-size: 14px;
  border-radius: 40px;
  padding: 3px;
  margin-right: 7px;
}

.btn-remove-style {
  background-color: #1f3643;
  padding: 4px 7px;
  color: #fff;
  font-size: 12px;
}

.btn-remove-style:hover {
  color: #fff;
}

.popular-skill-title {
  display: flex;
}

/* select {
  background-color: white;
  border: thin solid grey;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}
select.arrows {
  background-image:    url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA3klEQVRIS+3VMU9CMRTF8d8zBL+aizoQFhx0kUk33RzdYMNFXUFnYeGrYYyaJiUxJHDLSxodbNKpfeffc9/pbaPyaCrr+3OA++z4rtT5Pg5GuMnCY9yWQEoBE1xhlUUP8YDrCBIB0vojLvGO0yz4hm4JJAKcYYoPHGOZAUdYoIMBXrc5iQAHeMlzviFygj7O8dkWEJU4XI8chALRhn9AVKHf70VRTHu4wFfbmKZLNKt50dLBnna0imcMd/2I0phWa3Y/D1e1Xa9BCZJG0VuQNpaWKMx72xS1Fl5/WN3BN+AgJhnZQlq4AAAAAElFTkSuQmCC');
  background-position: calc(100% - .5rem), 100% 0;
  background-size:  1.5em 1.5em;
  background-repeat: no-repeat;
}

select.arrows:focus {
  border-color: blue;
  outline: 0;
} */

.btn-add {
  background-color: #242426;
  color: white;
  padding: 4px 7px;
  font-size: 12px;
}

.btn-add:hover {
  background-color: #28282c;
  color: #fff;
  padding: 4px 7px;
  font-size: 12px;
}

.btn-add i {
  color: antiquewhite;
  font-size: 13px;
}

.btn-text:hover {
  color: #88b535;
}
